*{
    border: 1px black dashed;
}
a {
    border: 2px blue solid;
}
.red-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;  
    border: 0px transparent solid;
}

.pfp {
    height: 100%;
    width: 100%;
}